@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.section{
    background-color: #fab5d2;
    border: solid black 4px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navimg{
    width: 20px;
    height: 20px;
}

.name{
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-style: bold;
    font-weight: 800;
}

.navimg,
.cartss,
.bars,
.cart,
.closebtn {
  width: 2rem;
}

.navList{
    display: flex;
    gap: .5rem;
}

.cartbtns{
    display: flex;
    gap: 1rem;
    align-items: center;
    display: inline-flex;
    font-size: 1rem;
}

.cartBox{
    width: 6rem;
  height: 3rem;
  
  /* font-family: "MonumentExtended-Ultrabold"; */
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #faff00;
  border: 3px solid #000000;
  box-shadow: 6px 7px 0px #000000;
  border-radius: 12px;
  color: black;
  padding: 0px 1.5rem;
}
/* bg-black text-white font-bold flex-none text-left py-2 px-2  */
.shopBox{
    width: 6rem;
  height: 3rem;
  
  /* font-family: "MonumentExtended-Ultrabold"; */
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: end; */
  margin: auto;
  background: #faff00;
  border: 3px solid #000000;
  box-shadow: 6px 7px 0px #000000;
  border-radius: 12px;
  color: black;
  
}

@keyframes slideDown {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform:translateY(0);
        opacity: 1;
    }
}

.navbarSlide{
    animation: slideDown 0.5s ease-in-out ;
}