#root {
  height: 100vh;
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  background-color: #fab5d2;
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #fab5d2;
  
    color: black;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
